<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bitoffer.msgcenter.mapper.GlobalQuotaMapper">
    <resultMap id="quotaMap" type="cn.bitoffer.msgcenter.model.GlobalQuotaModel">
        <result column="id" property="id" />
        <result column="num" property="num"/>
        <result column="unit"  property="unit"/>
        <result column="channel"  property="channel"/>
        <result column="source_id"  property="sourceId"/>
    </resultMap>

    <insert id="save" useGeneratedKeys="true" keyProperty="globalQuotaModel.id">
        insert into t_global_quota (`num`,`unit`,`source_id`,`channel`)
        values (#{globalQuotaModel.num},#{globalQuotaModel.unit},#{msgRecordModel.sourceId},#{msgRecordModel.channel});
    </insert>

    <select id="getGlobalQuota" resultMap="quotaMap">
        select * from t_global_quota where channel = #{channel}
    </select>
</mapper>
